.itemModaloverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 100;
}

.itemModal {
    position: fixed;
    top: 10%;
    left: 30%;
    transform: 'translate(-40%, -40%)' ;
    background: #FFF;
    padding: 30px;
    z-index: 100;
}

.itemModal--content {
    display: flex;
    flex-direction: row;
    text-align: justify;
}


.itemModal--content label,
.itemModal--content input {
    margin: 10px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 1rem;
}

.closeBtn {
    float: right;
    outline: none;
    background: none;
    font-size: 2rem;
    border: none;
    margin-top: -18px;
    margin-right: -18px;
}